.modal-overlay {
    position: absolute;
    /*position this div absolutely*/
    top: 50%;
    /*positions relative to parent div*/
    left: 50%;
    /*positions relative to parent div*/
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--btn-color-light), 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    /* will work without top.left and transform but to be specific we have used those*/
}

.modal {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 10px;
    position: fixed;
    top: 0;
    /*20px*/
    opacity: 0;
    transform: scale(0.7);
    transition: transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.modal-overlay.open {
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.3s ease-in-out;
    /* backdrop-filter: blur(6px) grayscale(1); */
    background-color: rgba(0, 0, 0, 0.041);
}

.modal.open {
    padding-top: 0;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.close-button {
    position: absolute;
    top: 11px;
    right: 11px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
    color: var(--btn-color-light);
    transition: transform 0.5s ease-in !important;
}

.close-button:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in !important;
}