.pic {
  width: 120px;
  height: 120px;
  border-radius: 108px;
  margin-bottom: 0px;
}

.pic > img {
  width: 120px;
  height: 120px;
  border-radius: 108px;
}

.pic-desc {
  color: rgb(255, 255, 255);
}

.pic-desc > h2 {
  margin: 0px;
}

.pic-desc > p {
  margin-top: 0px;
}

.skills2 {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color-light);
  justify-content: space-evenly;
  padding: 10px;
}

.skills2 > div {
  list-style: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  width: 200px;
  height: fit-content;
  background-color: var(--skills-color-light);
  letter-spacing: 1px;
}

.resume-btn {
  background: linear-gradient(343deg, #bffaff6e, #fdffbc5d);
  box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.127);
  padding: 7px 20px !important;
}

.resume-btn:hover {
  cursor: pointer;
  transition: 0.1s;
  transform: scale(1.03);
}

.banner-img {
  width: -webkit-fill-available;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  height: 50%;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}