@import url("./globals.css");

.App {
  text-align: center;
  display: flex;
  gap: 40px;
  padding: 10px;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  justify-content: center;
  align-items: normal;
  align-self: center;
}

.left {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.left-01 {
  padding: 20px;
  width: 100%;
  box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.197);
  background-color: var(--left-bg-color-light);
  border-radius: 8px;
  z-index: 1;
}

.right-01 {
  border-radius: 8px;
  padding: 30px;
  background-color: var(--left-bg-color-light);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.197);
}

.right-02 {
  background-color: var(--left-bg-color-light);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.197);
  padding: 0px 30px 30px;
  border-radius: 8px;
}

.right * {
  animation: fadeInAnimation 0.1s ease-in-out forwards;
}

.right {
  border-radius: 8px;
  width: 75%;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.mobile-nav {
  display: none;
}

.right-nav {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: var(--right-nav-color-light);

  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.197);
}

.right-nav>h2 {
  margin: 5px;
}



p {
  letter-spacing: 0.5px;
  color: var(--text-color-light) !important;
}

label {
  color: var(--text-color-light) !important;
}

li {
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  color: var(--text-color-light) !important;
  /* letter-spacing: 0.7px; */
}

.btm-txt>p {
  color: #dddddd;
  text-align: center;
  margin: 0px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btm-txt>p>span {
  margin: 5px;
}

.btm-txt>p>a:hover {
  transition: 0.1s ease;
  transform: scale(1.07);
}

.btm-txt>p>a>span {
  color: var(--text-color-light);
}

.btm-txt>p>a>span :hover {
  color: rgb(169, 169, 169);
}

.desc {
  width: 250px;
  border: 2px solid #dddddd;
  border-radius: 8px;
}

.link>h2 {
  color: white !important;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.box {
  border-bottom: 2px solid white;
}

section>h2 {
  display: flex;
  justify-content: flex-start;
  /* padding-left:8px; */
  color: white;
  margin-bottom: 2px;
}

section>p {
  color: white;
  text-align: justify;
  padding: 5px;
  margin-top: 2px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color-light);
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding: 10px;
}

.skills>div {
  list-style: none;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 10px;
  font-style: italic;
  width: fit-content;
  height: fit-content;
  background-color: var(--skills-color-light);
  transition: 0.1s;
  letter-spacing: 1px;
}

.skills>div:hover {
  cursor: pointer;
  transition: 0.1s;
  background-color: var(--btn-color-light-hover);
}

.view-btn {
  background-color: var(--btn-color-light);
  color: var(--text-color-light);
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin: 5px;
  border-bottom: 1px solid var(--text-color-dark);
}

.view-btn:hover {
  background-color: var(--btn-color-light-hover);
}

.view-btn:focus {
  outline: none;
  border-bottom: 1px solid var(--skills-color-dark);
}

.project-title {
  margin-bottom: 10px !important;
}

.exp-list {
  margin-block-end: 10px;
}

.search-list-item:hover {
  background-color: var(--btn-color-light-hover);
}

/***********Animations**********/

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes alertAnimation {
  from {
    opacity: 0;
    top: -20px;
  }

  to {
    opacity: 1;
  }
}

/*******MEDIA QUERIES**********/

@media only screen and (max-width: 1450px) {
  .left {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .left-01 {
    max-width: -webkit-fill-available;
  }

  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 510px) {
  .project-title-container {
    margin-bottom: 12px;
  }


  .left-01 {
    max-width: -webkit-fill-available;
  }

  .project-title {
    margin: 0px;
  }

  .edu-timeline {
    float: none !important;
    /* display: block; */
  }

  .exp-ul {
    padding-left: 30px !important;
  }

  .right-nav {
    /*display: none;*/
    padding: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .mobile-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: auto !important;
    bottom: 0;
    z-index: 4;
  }

  .desktop-nav {
    display: none;
  }

  .nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: auto !important;
    bottom: 0;
    z-index: 4;
  }

  .right {
    margin-bottom: 60px;
  }

  .right-01{
    padding: 20px;
  }
  .App{
    gap:10px
  }
  section>h2 {
    margin-top: 0px;
    padding-left: 0px;
  }

  .pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
  }

  .pic>img {
    width: 90px;
    height: 90px;
    border-radius: 108px;
  }

  img {
    width: 90px;
    height: 90px;
  }

  .pic {
    width: 90px;
    height: 90px;
  }

  .pic-desc {
    margin: 10px;
  }

  .pic-desc>p {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .App {
    padding: 0px;
  }

  .left {
    width: 100% !important;
  }

  .view-btn {
    padding: 4px 8px !important;
  }

  .theme-btn {
    margin-top: 0 !important;
    /* border-radius: 0 !important; */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px !important;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px !important;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px !important;
    zoom: 1.1;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

/*****/

.alert {
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 10px;
  margin: 25px auto;
  left: 25%;
  z-index: 5;
  animation: alertAnimation 0.6s ease-in-out forwards;
  ;
}

.btn-close {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  background-color: var(--btn-color-light) !important;
}

.close-button {
  color: var(--text-color-light) !important;
}

.edu-p1{
  margin-top: 20px !important;
}