.App {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  justify-content: center;
  align-items: normal;
  align-self: center;
  background-color: #282c34;

}

p{
  letter-spacing: 0.5px;
  color: rgb(200, 200, 200) !important;
}

li{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  color: rgb(200, 200, 200) !important;
  /* letter-spacing: 0.7px; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

/* .resume-btn :hover{
  background-color: rgba(0, 0, 0, 0.266);
} */

.btm-txt > p{
  color: #dddddd;
  text-align: center;
  margin: 0px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}

.btm-txt > p > span{
 margin: 5px;
}


.btm-txt > p > a:hover{
  transition: 0.1s ease;
  transform: scale(1.07);
 }

.btm-txt > p > a > span {
  color: whitesmoke;
}


.btm-txt > p > a > span :hover{
  color: rgb(169, 169, 169);
 }

.left{
  margin-right:20px;
  border:2px solid  #61dafbb9;
  border-radius: 8px;
  width:250px;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  align-content: center;
  box-shadow: 0.2px 0.2px 50px rgba(0, 0, 0, 0.197);
  background-color: hsl(240, 2%, 13%);

}


.right{
  border:2px solid  #61dafb;
  border-radius: 8px;
  width:1000px;
 
  padding: 30px;
  background-color: hsl(240, 2%, 13%);
  box-shadow: 0.2px 0.2px 50px rgba(0, 0, 0, 0.197);
}

.pic{
  width:120px;
  height:120px;
  /* border:2px solid  #61dafb; */
  border-radius: 108px;
  margin-bottom: 0px;
}

.pic > img{
  width:120px;
  height:120px;
  border-radius: 108px;
}

.pic-desc{
  color: rgb(255, 255, 255);
}
.pic-desc > h2{
margin: 0px;
}

.pic-desc > p{
  margin-top: 0px;
}

.desc{
  width:250px;

  /* box-shadow: 0.2px 0.2px 10px rgb(0, 183, 255); */
  border:2px solid  #dddddd;
  border-radius: 8px;
}

.right-nav{
  border-bottom: 2px solid white;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding:8px;
}

.right-nav > h2 {
  margin:5px;
}

.link > h2{
  color: white !important;
  text-decoration: none;
  margin-top:0px;
  margin-bottom: 0px;
}

.box{
  border-bottom: 2px solid white;
}

section > h2 {
  display: flex;
  justify-content: flex-start;
  padding-left:8px;
  color: white;
  margin-bottom:2px;
}

section > p{
  color: white;
  text-align: justify;
  padding: 5px;
  margin-top: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* //////////// */

.skills {
  display: flex;
  flex-wrap: wrap;
  color: #dddddd;
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding: 10px;
}

.skills > div{
  list-style: none;
  border-radius: 10px;
  /* border:1px solid whitesmoke; */
  padding: 5px 20px;
  margin:10px;
  font-style: italic;
  width: fit-content;
  height: fit-content;
  /* box-shadow: 0.4px 0.4px 10px rgba(0, 208, 255, 0.488); */
  background-color: hsl(0, 0%, 19%);
  transition: 0.1s;
  letter-spacing: 1px;
}

.skills > div:hover{
  cursor: pointer;
  transition: 0.1s;
  /* background-color: hsl(0, 0%, 10%); */

  transform: scale(1.03);
}
/* ////// */


.skills2 {
  display: flex;
  flex-wrap: wrap;
  color: #dddddd;
  justify-content: space-evenly;
  padding: 10px;
}

.skills2 > div{
  list-style: none;
  border-radius: 10px;
  /* border:2px solid whitesmoke; */
  padding: 10px 20px;
  margin:10px;
  width: 200px;
  height: fit-content;
  /* box-shadow: 0.4px 0.4px 10px rgba(0, 208, 255, 0.488); */
  background-color: hsl(0, 0%, 19%);
  transition: 0.1s;
  letter-spacing: 1px;
}

 .resume-btn:hover{
  cursor: pointer;
  transition: 0.1s;
  /* background-color: hsl(0, 0%, 10%); */
  transform: scale(1.03);
}

@media only screen and (max-width: 1450px) {
 .left{
  width: 100%;
  margin-right: 0px;
  margin-bottom:10px;
 }
 .right{
  width: 100%;
 }

 /* .right-nav{
  display: none;
 } */
}


@media only screen and (max-width: 510px) {
 
  .right-nav{
   display: none;
  }

  section > h2 {
    margin-top: 0px;
    padding-left: 0px;
  }

  .pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 20px 10px;
  }

  .pic > img {
    width: 90px;
    height: 90px;
    border-radius: 108px;
  }

  img{
    width: 90px;
    height: 90px;
  }

  .pic{
    width: 90px;
    height: 90px;
  }

  .pic-desc{
    margin: 10px;
  }

  .pic-desc > p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.App{
  padding: 0px;
}
 }

 /*********/

 h1 {
      font-size: 2.5rem !important;
      }

      h2 {
          font-size: 2rem !important;
          }

          h3 {
              font-size: 2rem !important;
              }

              h4 {
                  font-size: 1.75rem;
                  }

                  h5 {
                      font-size: 1.5rem;
                      }

                      h6 {
                          font-size: 1.25rem;
                          }

                          p {
                              font-size: 1rem ! important;
                              }

                              @media (max-width: 480px) {
                                  html {
                                          font-size: 12px !important;
                                              }
                                              }

                                              @media (min-width: 480px) {
                                                  html {
                                                          font-size: 13px !important;
                                                              }
                                                              }

                                                              @media (min-width: 768px) {
                                                                  html {
                                                                          font-size: 14px !important;
                                                                              }
                                                                              }

                                                                              @media (min-width: 992px) {
                                                                                  html {
                                                                                          font-size: 15px;
                                                                                              }
                                                                                              }

                                                                                              @media (min-width: 1200px) {
                                                                                                  html {
                                                                                                         font-size: 16px;
                                                                                                         }
                                                                                                 }
                                       

                                                              
 