:root {
  --index-bg-color-dark: #282c34; /* Declaration of a CSS variable */
  --index-bg-color-light: #f9f9f7;
}

* {
  transition: background 0.5s ease  !important;
}

body { 
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
  font-family: "Sahitya";
  font-weight: 500 !important;
  letter-spacing: 0px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--index-bg-color-dark);
  /* background-color:  #282c34; */
  /* background: hsl(184, 100%, 6%); */
  /* z-index: -1; */
  /* background-image: url('https://img.freepik.com/free-photo/painted-solid-concrete-wall-textured-background_53876-101652.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html::-webkit-scrollbar {
  width: 8px; /* Width of vertical scrollbar */
}

html::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Track color */
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Thumb color */
  border-radius: 4px; /* Rounded corners for thumb */
}

/* *{
  outline: 1px solid white;
} */
