body {
    background-color: #1e1e1e;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    background-color: #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.frm-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s, border-color 0.3s;
    box-sizing: border-box;
}

.frm-input:focus {
    background-color: #555;
    border-color: #4CAF50;
    outline: none;
}

/* h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
} */

/* form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

label {
    margin-bottom: 0.5rem;
    color: #aaa;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s, border-color 0.3s;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #555;
    border-color: #4CAF50;
    outline: none;
}


 */

.auth-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.auth-btn:hover {
    background-color: #45a049;
}

.para {
    text-align: center;
    margin-top: 1rem;
}

.para a {
    color: #4CAF50;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.para a:hover {
    text-decoration: underline;
}