.toggle-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-top: 10px;
    margin-left: -20px;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-text {
    outline: 2px solid var(--btn-color-dark-hover);
    position: absolute;
    cursor: pointer;
    top: 0;
    display: flex;
    left: 0;
    padding-right: 8px;
    padding-left: 0px;
    right: 0;
    width: 100%;
    bottom: 0;
    color: var(--text-color-light);
    background-color: var(--btn-color-light);
    transition: 0.2s;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-end;

}

.toggle-strong {
    position: absolute;
    left: 100%;
    width: max-content;
    height: 100%;
    line-height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.toggle-text:before {
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: var(--btn-color-light);
    display: flex;
    content: var(--theme-emoji-light); /*🌑 ☀️, 🌙, 🌕, */
    height: 25px;
    width: 25px;
    outline: 2px solid var(--btn-color-light-hover);
    left: 3px;
    bottom: 2.6px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    transition: 0.2s;
}

.toggle-input:checked + .toggle-text {
    background-color: var(--btn-color-light);
    justify-content: flex-start;
    padding-right: 0px;
    padding-left: 8px;
}

.toggle-input:checked + .toggle-text:before {
    transform: translateX(38px);
}